<div class="row">
    <form method="post" role="form" class="col-md-6">
        <h3>Redaguoti profilį</h3>
        <br />
        <div class="input-group">
            <span class="input-group-addon">El. paštas</span>
            <input type="text" class="form-control" value="doncatas@gmail.com" disabled>
        </div><br />
        <div class="input-group">
            <span class="input-group-addon">Vardas</span>
            <input type="text" class="form-control" value="Donatas" disabled>
        </div><br />
        <div class="input-group">
            <span class="input-group-addon">Pavardė</span>
            <input type="text" class="form-control" value="Maikštėnas" disabled>
        </div><br /><br />
        <div class="input-group">
            <span class="input-group-addon">Slaptažodis</span>
            <input type="password" class="form-control">
        </div><br />
        <div class="input-group">
            <span class="input-group-addon">Pakartoti</span>
            <input type="password" class="form-control">
        </div><br /><br />
        <button type="submit" class="btn btn-success">Atnaujinti informaciją</button>
        <button type="reset" class="btn btn-default">Valyti laukelius</button>
    </form>
    <div class="col-md-6">
        <h3>Nebenori būti labanoro draugijoje?</h3><br />
        <button type="submit" class="btn btn-danger">Išsiregistruoti</button>
    </div>
</div>