<div class="row">
    <div class="alert alert-danger" ng-show="errorList">
        <strong>Klaida!</strong> {{ errorList }}
    </div>
    <div class="col-md-6">
        <br/>
        <h3>Prisijungti prie sistemos!</h3>
        <br />
        <button class="btn btn-block btn-social btn-facebook" ng-click="loginWithFacebook()">
            <span class="fa fa-facebook-square"></span> Prisijungti su Facebook
        </button>
        <br/>
        <form method="post" role="form" name="loginForm" novalidate ng-submit="login()">
            <div class="input-group"
                 ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' : loginForm.email.$valid && loginForm.email.$dirty}">
                <span class="input-group-addon" id="basic-addon1">El. paštas</span>
                <input type="email" class="form-control" aria-describedby="basic-addon1" name="email"
                       ng-model="user.email" required>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Slaptažodis</span>
                <input type="password" class="form-control" aria-describedby="basic-addon1" name="password"
                       ng-model="user.password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-success">Prisijungti</button>
            <button type="reset" class="btn btn-default">Valyti laukelius</button>
        </form>

    </div>
</div>