<div class="row">
    <div class="alert alert-danger" ng-show="messageLog">
        <strong>Klaida!</strong> {{ messageLog }}
    </div>
    <div class="col-md-6">
        <br/>
        <h3>Registruotis prie sistemos!</h3>
        <br />
        <button class="btn btn-block btn-social btn-facebook" ng-click="registerWithFacebook()">
            <span class="fa fa-facebook-square"></span> Registruotis su Facebook
        </button>
        <br />
        <form method="post" role="form" name="registerForm" ng-submit="register()">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Vardas</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="name" required>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Pavardė</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="surname" required>
            </div>
            <br/>
            <div class="input-group"
                 ng-class="{'has-error' : registerForm.email.$invalid && registerForm.email.$dirty, 'has-success' : registerForm.email.$valid && registerForm.email.$dirty}">
                <span class="input-group-addon" id="basic-addon1">El. paštas</span>
                <input type="email" class="form-control" aria-describedby="basic-addon1" ng-model="user.email" required>
            </div>
            <br/><br/>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Slaptažodis</span>
                <input type="password" class="form-control" aria-describedby="basic-addon1" ng-model="user.password"
                       required pattern=".{5,}">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Pakartoti</span>
                <input type="password" class="form-control" aria-describedby="basic-addon1" ng-model="password2"
                       required pattern=".{5,}">
            </div>
            <br/><br/>
            <button type="submit" class="btn btn-success">Registruotis</button>
            <button type="reset" class="btn btn-default">Valyti laukelius</button>
        </form>
    </div>
</div>