      <div class="row">
        <form method="post" role="form">
          <h3>Tu buvai pakviestas tapti labanoro draugijos dalimi!</h3>
          <br /><br />
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Vardas</span>
              <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Pavardė</span>
              <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">El. paštas</span>
              <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <br /><br />
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Slaptažodis</span>
              <input type="password" class="form-control" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Pakartoti</span>
              <input type="password" class="form-control" aria-describedby="basic-addon1">
            </div>
            <br /><br />
            <button type="submit" class="btn btn-success">Registruotis</button>
            <button type="reset" class="btn btn-default">Valyti laukelius</button>
          </div>
          <div class="col-md-6">
            [Register with facebook button]
          </div>
        </form>
      </div>