<div class="row">

    <div class="alert alert-danger" ng-show="messageLog">
        <strong>Klaida!</strong> {{ messageLog }}
    </div>
    <div class="alert alert-success" ng-show="successMessage">
        <strong>Sėkminga!</strong> {{ successMessage }}
    </div>

    <h3>Kandidatai laukiantys patvirtinimo</h3>

    <table class="table table-hover">
        <tr>
            <th>El. paštas</th>
            <th></th>
        </tr>
        <tr ng-repeat="candidate in candidates">
            <td>{{ candidate.candidateEmail }}</td>
            <td>
                <button type="button" class="btn btn-default" ng-show="!candidate.approved" ng-click="aproveCandidate(candidate.candidateEmail)">Patvirtinti kandidatūrą</button>
                <div ng-show="candidate.approved">Jūs jau patvirtinote šio nario kandidatūrą</div>
            </td>
        </tr>
    </table>

    <h3>Narių sąrašas</h3>
    <table class="table table-hover">
        <tr>
            <th>Vardas Pavardė</th>
            <th>El. paštas</th>
            <th>Statusas</th>
        </tr>
        <tr ng-repeat="user in users">
            <td><a ui-sref="userInfo({ userId: {{ user.id }} })">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td>
                <div class="btn-group">
                    {{ user.role }}
                </div>
            </td>
        </tr>
    </table>
</div>