<div class="row">
    <h3>Kandidatai laukiantys patvirtinimo</h3>

    <table class="table table-hover">
        <tr>
            <th>Vardas Pavardė</th>
            <th>El. paštas</th>
            <th></th>
        </tr>
        <tr ng-repeat="candidate in candidates">
            <td><a ui-sref="userInfo({ userId: {{ candidate.id }} })">{{ candidate.name }}</a></td>
            <td>{{ candidate.email }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="aproveCandidate(candidate.id)">Patvirtinti kandidatūrą</button>
                </div>
            </td>
        </tr>
    </table>

    <h3>Narių sąrašas</h3>
    <table class="table table-hover">
        <tr>
            <th>Vardas Pavardė</th>
            <th>El. paštas</th>
            <th>Statusas</th>
        </tr>
        <tr ng-repeat="user in users">
            <td><a ui-sref="userInfo({ userId: {{ user.id }} })">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td>
                <div class="btn-group">
                    {{ user.role }}
                </div>
            </td>
        </tr>
    </table>
</div>